@import "tailwindcss";

@theme {
  --font-sans: "Inter";
  --font-display: "Lexend";
  --font-code: "Fira Code", "monospace";

  --color-primary: #1628FF;
  --color-primary-50: #5E6AFF;
  --color-primary-100: #5460FF;
  --color-primary-200: #3F4EFF;
  --color-primary-300: #2B3BFF;
  --color-primary-400: #1628FF;
  --color-primary-500: #0215FF;
  --color-primary-600: #0010D3;
  --color-primary-700: #000CA5;
  --color-primary-800: #000977;
  --color-primary-900: #000649;
  --color-primary-950: #000432;

  --color-slate: #94a3b8;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;

  --color-mirage: #1C233B;
  --color-mirage-50: #394778;
  --color-mirage-100: #35426F;
  --color-mirage-200: #2D385E;
  --color-mirage-300: #242E4D;
  --color-mirage-400: #1C233B;
  --color-mirage-500: #14192A;
  --color-mirage-600: #121727;
  --color-mirage-700: #111523;
  --color-mirage-800: #0F1320;
  --color-mirage-900: #0D111C;
  --color-mirage-950: #0D101A;

  --color-gray-50: #3D3D3D;
  --color-gray-100: #383838;
  --color-gray-200: #2E2E2E;
  --color-gray-300: #232323;
  --color-gray-400: #191919;
  --color-gray-500: #0F0F0F;
  --color-gray-600: #0C0C0C;
  --color-gray-700: #0A0A0A;
  --color-gray-800: #070707;
  --color-gray-900: #050505;
  --color-gray-950: #040404;
}

@font-face {
  font-family: 'Lexend';
  src: url('./assets/fonts/Lexend-Regular.woff2') format('woff2'),
      url('./assets/fonts/Lexend-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('./assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode-Light.woff2') format('woff2'),
      url('./assets/fonts/FiraCode-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
:after,
:before {
  @apply box-border ;
}

html {
  --grid-a: 1px;
  --grid-gap: 3px;
  --grid-size: 80px;
  --grid-small-size: 10px;
  --grid-e: 80px;
  --grid-color: rgba(22, 27, 71, 0.175);
  --paper-color: #05101b;
  background:
        linear-gradient(-90deg, var(--grid-color) var(--grid-a), transparent var(--grid-a)),
        linear-gradient( var(--grid-color) var(--grid-a), transparent var(--grid-a)), 
        linear-gradient(-90deg,  var(--grid-color) var(--grid-a), transparent var(--grid-a)),
        linear-gradient( var(--grid-color) var(--grid-a), transparent var(--grid-a)),
        linear-gradient(transparent var(--grid-gap), var(--paper-color) var(--grid-gap), var(--paper-color) var(--grid-size), transparent var(--grid-size)),
        linear-gradient(-90deg, #040a2c var(--grid-a), transparent var(--grid-a)),
        linear-gradient(-90deg, transparent var(--grid-gap), var(--paper-color) var(--grid-gap), var(--paper-color) var(--grid-size), transparent var(--grid-size)),
        linear-gradient(#040a2c var(--grid-a), transparent var(--grid-a)),
        var(--paper-color);
    background-size:
        var(--grid-small-size) var(--grid-small-size),
        var(--grid-small-size) var(--grid-small-size),
        var(--grid-e) var(--grid-e),
        var(--grid-e) var(--grid-e),
        var(--grid-e) var(--grid-e),
        var(--grid-e) var(--grid-e),
        var(--grid-e) var(--grid-e),
        var(--grid-e) var(--grid-e);
}

html::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(49% 81% at 45% 47%, rgba(71, 0, 80, 0.093) 0%, #073AFF00 100%),
    radial-gradient(113% 91% at 17% -2%, rgba(7, 70, 132, 0.168) 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, hsla(234, 100%, 19%, 0.109) 1%, rgba(153, 0, 255, 0.126) 99%),
    radial-gradient(142% 91% at -6% 74%, rgba(0, 42, 255, 0.116) 1%, rgba(3, 154, 84, 0.075) 99%),
    radial-gradient(142% 91% at 111% 84%, #1144ed0f 25%, rgba(69, 34, 150, 0.045) 95%);
}

button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
