@import "tailwindcss";

@theme {
  --font-sans: "Inter";
  --font-display: "Lexend";
  --font-code: "Fira Code", "monospace";

  --color-danger: #D8454A;
  --color-danger-50: #F7D9DA;
  --color-danger-100: #F2C4C5;
  --color-danger-200: #E99A9C;
  --color-danger-300: #E16F73;
  --color-danger-400: #D8454A;
  --color-danger-500: #C1292E;
  --color-danger-600: #972024;
  --color-danger-700: #6D171A;
  --color-danger-800: #430E10;
  --color-danger-900: #190506;

  --color-mirage: #14192A;
  --color-mirage-50: #394778;
  --color-mirage-100: #35426F;
  --color-mirage-200: #2D385E;
  --color-mirage-300: #242E4D;
  --color-mirage-400: #1C233B;
  --color-mirage-500: #14192A;
  --color-mirage-600: #121727;
  --color-mirage-700: #111523;
  --color-mirage-800: #0F1320;
  --color-mirage-900: #0D111C;
  --color-mirage-950: #0D101A;

  --color-success-50: #7BCB87;
  --color-success-100: #74C980;
  --color-success-200: #65C373;
  --color-success-300: #56BD66;
  --color-success-400: #48B758;
  --color-success-500: #42A951;
  --color-success-600: #3B9649;
  --color-success-700: #348440;
  --color-success-800: #2C7237;
  --color-success-900: #255F2E;

  --color-primary: #1628FF;
  --color-primary-50: #5E6AFF;
  --color-primary-100: #5460FF;
  --color-primary-200: #3F4EFF;
  --color-primary-300: #2B3BFF;
  --color-primary-400: #1628FF;
  --color-primary-500: #0215FF;
  --color-primary-600: #0010D3;
  --color-primary-700: #000CA5;
  --color-primary-800: #000977;
  --color-primary-900: #000649;
  --color-primary-950: #000432;

  --color-alert-50: #FFD4A8;
  --color-alert-100: #FFC78E;
  --color-alert-200: #FFAE5B;
  --color-alert-300: #FF9528;
  --color-alert-400: #F47C00;
  --color-alert-500: #C16200;
  --color-alert-600: #8E4800;
  --color-alert-700: #5B2E00;
  --color-alert-800: #422200;
  --color-alert-900: #2E1700;

  --color-gray-50: #3D3D3D;
  --color-gray-100: #383838;
  --color-gray-200: #2E2E2E;
  --color-gray-300: #232323;
  --color-gray-400: #191919;
  --color-gray-500: #0F0F0F;
  --color-gray-600: #0C0C0C;
  --color-gray-700: #0A0A0A;
  --color-gray-800: #070707;
  --color-gray-900: #050505;
  --color-gray-950: #040404;

  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #0163A4;
  --toastify-color-success: #48B758;
  --toastify-color-warning: #CC9900;
  --toastify-color-error: #C1292E;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 600px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* //Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* // Used when no type is provided */
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  /* // Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

@font-face {
  font-family: 'Lexend';
  src: url('./assets/fonts/Lexend-Regular.woff2') format('woff2'),
      url('./assets/fonts/Lexend-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('./assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode-Light.woff2') format('woff2'),
      url('./assets/fonts/FiraCode-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
:after,
:before {
  @apply box-border;
}

button {
  cursor: pointer;
}
.btn-icon {
  @apply ml-3 w-5 h-5 transition-transform duration-150 ease-out stroke-none
}
:disabled {
  cursor: default;
}

/* background gradient grid */
html {
  z-index: 0;
  --grid-space: 1px;
  --grid-gap: 3px;
  --grid-size: 80px;
  --grid-small-size: 10px;
  --grid-large-size: 80px;
  --grid-color: rgba(22, 27, 71, 0.175);
  --paper-color: #05101b;
  background:
        linear-gradient(-90deg, var(--grid-color) var(--grid-space), transparent var(--grid-space)),
        linear-gradient( var(--grid-color) var(--grid-space), transparent var(--grid-space)), 
        linear-gradient(-90deg,  var(--grid-color) var(--grid-space), transparent var(--grid-space)),
        linear-gradient( var(--grid-color) var(--grid-space), transparent var(--grid-space)),
        linear-gradient(transparent var(--grid-gap), var(--paper-color) var(--grid-gap), var(--paper-color) var(--grid-size), transparent var(--grid-size)),
        linear-gradient(-90deg, #040a2c var(--grid-space), transparent var(--grid-space)),
        linear-gradient(-90deg, transparent var(--grid-gap), var(--paper-color) var(--grid-gap), var(--paper-color) var(--grid-size), transparent var(--grid-size)),
        linear-gradient(#040a2c var(--grid-space), transparent var(--grid-space)),
        var(--paper-color);
    background-size:
        var(--grid-small-size) var(--grid-small-size),
        var(--grid-small-size) var(--grid-small-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size),
        var(--grid-large-size) var(--grid-large-size);
}
html::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    radial-gradient(49% 81% at 45% 47%, rgba(71, 0, 80, 0.093) 0%, #073AFF00 100%),
    radial-gradient(113% 91% at 17% -2%, rgba(7, 70, 132, 0.168) 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, hsla(234, 100%, 19%, 0.109) 1%, rgba(153, 0, 255, 0.126) 99%),
    radial-gradient(142% 91% at -6% 74%, rgba(0, 42, 255, 0.116) 1%, rgba(3, 154, 84, 0.075) 99%),
    radial-gradient(142% 91% at 111% 84%, #1144ed0f 25%, rgba(69, 34, 150, 0.045) 95%);
    z-index: -1;
}
/* end background gradient grid */


/* custom scrollbar Style */
*::-webkit-scrollbar {
  width: 10px;
  border-radius: none;

}
*::-webkit-scrollbar-track {
  background: #19233433;
  width: 10px;
  border-radius: none;

}
*::-webkit-scrollbar-thumb {
  background-color: #1a1f2793;
  border-radius: none;
  border-right: 8px solid #1b243a84;
}
/* end custom scrollbar Style */

/* start notification styles */
.Toastify__toast-body {
  @apply items-start;
}
.Toastify__close-button.Toastify__close-button--light {
  @apply w-10 h-8 text-slate-100;
}
.Toastify__close-button.Toastify__close-button--light svg {
  @apply w-5 h-5;
}
/* end notification styles */

/* start Animated CSS Hamburger Menu */
.hamburger.is-active {
  @apply transition-transform -rotate-45 duration-75;
}
.hamburger {
  @apply relative hover:cursor-pointer rotate-0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.hamburger:hover .line {
  background-color: rgb(71 85 105);
}
.hamburger .line {
  background-color: rgb(51 65 85);
  border-radius: 50px;
  height: 2px;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.hamburger.is-active .line:nth-child(1),
.hamburger.is-active .line:nth-child(2),
.hamburger.is-active .line:nth-child(3) {
  width: 20px;
}
.hamburger .line:nth-child(1) {
  width: 26px;
  margin-right: 100%;
}
.hamburger .line:nth-child(2) {
  width: 26px;
  margin-right: 100%;
}
.hamburger .line:nth-child(3) {
  width: 26px;
  margin-right: 100%;
}
.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}
.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transform: translateY(8px);
}
.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(90deg);
  -ms-transform: translateY(-8px) rotate(90deg);
  -o-transform: translateY(-8px) rotate(90deg);
  transform: translateY(-8px) rotate(90deg);
}
/* end Animated CSS Hamburger Menu */